.player-button {
	width: 40px;
	height: 40px;
	border: 1px solid #aaa;
	background: #fff;
	box-shadow: 0 10px #aaa;
	outline: none;
	margin-bottom: 10px;
	cursor: pointer;

	&:active:not(:disabled), &.active {
		box-shadow: 0 5px #888;
		transform: translateY(5px);
	}
}